<ion-view title="Budapest">
  <ion-content class="has-header padding tabStyle" scroll="false">
    <img src="img/Clock_with_Budapest.jpg" class="clockStyle"></img>
    <img rotate degrees='secondsAngle' src="img/Minute_Pointer.png" class="pointerStyle"></img>
    <img rotate degrees='hourAngle' src="img/Hour_Pointer.png" class="pointerStyle"></img>
    <p id="hint">A budapesti idő nagymutatója a másodperceket jeleníti meg, hogy az animáció egyszerűbben nyomonkövethető legyen.</p>
  </ion-content>
</ion-view>
